<div class ="container">
<!-- navegacion -->
		<header>

    <div class="row navegacion">

      <div class="col-xs-12 col-md-6">
        <h1 class="titulin"><a href="index.html" class="josefin rosa esp_izq_peq">irene moreno</a></h1>
      </div>

      <div class="row col-xs-12 col-md-6 middle-xs end-md">
        <nav>
          <ul class="menu">
            <li><p><%= link_to 'home', '/welcome/index',{ :class => 'enlace josefin midfont negrita gris_oscuro mar'}  %></p></li>
          
            <li class="onpage"><p class="josefin gris_claro negrita midfont ama_back">blog</p></li>

            <li><p><%= link_to 'contacto', '/welcome/contacto',{ :class => 'enlace josefin midfont negrita gris_oscuro mar'}  %></p></li>

          </ul> 
        </nav>
      </div>
      
    </div>

  </header>
		<hr class="doble">

<!-- titulo blog -->
		<div class="row middle-xs">
			<div class="col-xs-12 col-md-8">
				<h2 class="arvo big gris_oscuro esp_izq_peq"> # { im_workbench } </h2>
			</div>

<!-- Redes Sociales  -->
			<div class="col-xs-12 col-md-4 center-xs redes-sociales">

				<%= link_to image_tag('twitter.svg', {:alt => 'irenemoreno-twitter', :title => 'irenemoreno-twitter', :class => 'blog_icon'}), 'https://twitter.com/Ireono', :target => 'blank'%>

				<%= link_to image_tag('linkedin.svg', {:alt => 'irenemoreno-linkedin', :title => 'irenemoreno-linkedin', :class => 'blog_icon'}), 'https://es.linkedin.com/in/irenemorenocano', :target => 'blank'%>
				
				<%= link_to image_tag('github.svg', {:alt => 'irenemoreno-github', :title => 'irenemoreno-github', :class => 'blog_icon'}), 'https://github.com/irenemoreno', :target => 'blank'%>
	   		</div>		
		</div>

<!-- post -->
		<div class="row">
			<div class="col-xs-12 col-md-8 bottom-xs post end-xs">
				<div>
					<p class="josefin rosa big">No, esto no es un post, sólo un mockup</p>
					<p class="arvo tinyfont">posted by <strong>i.moreno</strong> | date <strong> 3 mar 16</strong></p>
					<p class="arvo smallfont">Este blog esta en construcción, con esto quiero decir, que lo estoy desarrollando desde 0, con Ruby on Rails. Me llevará un tiempo, calculo que un par de semanas. Podéis seguir mis avances en 
					
					<%= link_to 'este repositorio', 'https://github.com/irenemoreno/irenemoreno_site', { :class => 'gris_oscuro subrayado', :target => "blank"}%>

					de Github. <br><br>
					La idea, es tener un banco de trabajo o <em>workbench</em>, dónde poder prácticar todas aquellas técnologías que voy aprendiendo. <br><br>
					Aquí esta mi siguiente reto.
					Wish me luck!<br><br>
					
					NOTA: Toda sugerencia y crítica constructiva es bienvenida :) Puedes contactarme por 

					<%= link_to 'aquí', 'contacto', { :class => 'gris_oscuro subrayado'} %>
					.
					</p><br>
					<%= image_tag "megustaTw.png" %>
					
					<br><br>
				</div>
			</div>

<!-- banner-->
			<div class="col-xs-12 col-md-4 center-xs fondo">
				<div class="banner"></div>
			</div>

		</div>

	<footer>

        <hr class="simple principal">
            
        <h3 class="josefin smallfont">irene moreno @ 2016</h3>
            
    </footer>

</div>

 