<div class ="container fondo_contacto">
<!-- navegacion -->
    <div class="row middle-xs fondo">

      <div class="col-xs-12 col-md-8 first-xs">
        <h1 class="big"><a href="index.html" class="rosa josefin esp_izq_peq">irene moreno</a></h1>
      </div>

      <nav class="col-xs-12 col-md-4">
        <table>
          <tr>
            <td width="100"><%= link_to 'blog', 'blog', { :class => 'enlace josefin negrita midfont'} %></td>
            <td width="100"><p class="josefin gris_claro negrita midfont ama_back">contacto</p></td>

          </tr>
        </table>
      </nav>

    </div>

    <hr class="doble">

    <div class="row center-xs middle-xs">
      <div class="col-xs-12 centro">
        <div>
          <h2 class="josefin midfont rosa">CONTACTO</h2>
          <h4 class="josefin smallfont gris_claro interletrado"><em>Now, open for hiring!</em></h4>
        </div>
      </div>
    </div>

<!-- Formulario de contacto -->

  <div class="row center-xs">      
        <%= form_tag("") do %>
            <table class="arvo gris_claro smallfont">

                  <tr>
                    <td class="der"><%= label_tag "nombre", "Nombre", { :class => "arvo tinyfont negrita"} %></td>
                    <td class="izq"><%= text_field_tag 'nombre' %></td>
                  </tr>

                  <tr>
                    <td class="der"><%= label_tag 'email', 'Email', { :class => "arvo tinyfont negrita"} %></td>
                    <td class="izq"><%= email_field_tag 'email' %></td>
                  </tr>

                  <tr>
                    <td class="der"><%= label_tag 'asunto', 'Asunto', { :class => "arvo tinyfont negrita"} %></td>
                    <td class="izq"><%= text_field_tag 'asunto' %></td>
                  </tr>

                  <tr>
                    <td class="der"><%= label_tag 'mensaje', 'Mensaje', { :class => "arvo tinyfont negrita"} %></td>
                    <td class="izq"><%= text_area_tag 'mensaje', nil, :size => '25x10' %></td>
                  </tr>

                   <tr class="centro">
                    <td> <%= submit_tag 'Enviar', { :class => "josefin rosa"} %></td>
                  </tr>

           </table>
        <% end %>
       
  </div>

      <div class="row center-xs principal">

        <h3 class="josefin smallfont gris_claro ">También puedes buscarme en las redes sociales</h3>
  
        <%= link_to image_tag('twi.png', {:alt => 'irenemoreno-twitter', :title => 'irenemoreno-twitter', :class => 'blog_icon'}), 'https://twitter.com/Ireono', :target => 'blank'%>

        <%= link_to image_tag('linke.png', {:alt => 'irenemoreno-linkedin', :title => 'irenemoreno-linkedin', :class => 'blog_icon'}), 'https://es.linkedin.com/in/irenemorenocano', :target => 'blank'%>
            
        <%= link_to image_tag('github.png', {:alt => 'irenemoreno-github', :title => 'irenemoreno-github', :class => 'blog_icon'}), 'https://github.com/irenemoreno', :target => 'blank'%>

      </div>

  <footer>

    <hr class="simple principal">
            
    <h3 class="josefin smallfont">irene moreno @ 2016</h3>
            
  </footer>
 
</div>

