<div class ="container fondo_contacto">
<!-- navegacion -->

<header>

    <div class="row navegacion">

      <div class="col-xs-12 col-md-6">
        <h1 class="titulin"><a href="index.html" class="josefin rosa esp_izq_peq">irene moreno</a></h1>
      </div>


      <div class="row col-xs-12 col-md-6 middle-xs end-md">
        <nav>
          <ul class="menu">
            <li><p><%= link_to 'home', '/welcome/index',{ :class => 'enlace josefin midfont negrita gris_oscuro mar'}  %></p></li>

            <li><p><%= link_to 'blog', '/welcome/blog',{ :class => 'enlace josefin midfont negrita gris_oscuro mar'}  %></p></li>
          
            <li class="onpage"><p class="josefin gris_claro negrita midfont ama_back">contacto</p></li>
          </ul> 
        </nav>
      </div>

    </div>

  </header>

    <hr class="doble">



<!-- Formulario de contacto -->

  <div class="row center-xs">    

    <div class="formulario">

          <h2 class="josefin midfont rosa">CONTACTO</h2>

     <div class="redes-sociales">
        <%= link_to image_tag('twitter.svg', {:alt => 'irenemoreno-twitter', :title => 'irenemoreno-twitter', :class => 'blog_icon'}), 'https://twitter.com/Ireono', :target => 'blank'%>

        <%= link_to image_tag('linkedin.svg', {:alt => 'irenemoreno-linkedin', :title => 'irenemoreno-linkedin', :class => 'blog_icon'}), 'https://es.linkedin.com/in/irenemorenocano', :target => 'blank'%>
        
        <%= link_to image_tag('github.svg', {:alt => 'irenemoreno-github', :title => 'irenemoreno-github', :class => 'blog_icon'}), 'https://github.com/irenemoreno', :target => 'blank'%>
     </div>

        <%= form_tag("") do %>
            
                  <%= text_field_tag 'nombre', nil, placeholder: 'Nombre', class: 'arvo campos' %>
                  <%= email_field_tag 'email', nil, placeholder: 'Email', class:'arvo campos' %>
                  <%= text_field_tag 'asunto', nil, placeholder: 'Asunto', class: 'arvo campos' %>
                  <%= text_area_tag 'mensaje', nil, placeholder: 'Escribe aquí tu mensaje', rows: 8, cols: 35, class: 'campos ' %>
                  <%= submit_tag 'Enviar', { :class => "arvo rosa campos", id: 'enviando'} %>
        <% end %>
    </div>  
  </div>

      

  <footer>

    <hr class="simple principal">
            
    <h3 class="josefin smallfont">irene moreno @ 2016</h3>
            
  </footer>
 
</div>

